*{
	box-sizing:border-box;
	padding:0;
	margin:0;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
	font-family: 'Lato', sans-serif;
}

/*h1, h2 {

	padding:0;
	margin:0;

}*/

p {
	font-size: 16px;
	line-height: 24px;
	//margin-bottom: 4px;
	//padding-top: 20px;
	font-family: 'Lato', sans-serif;
	color:#666;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color:#323130;
  top:0;
  left:0;
}

.logo img {
	width:100px;
	margin:20px 0 0 20px;
	opacity: .95;
	z-index: 1000;
}


//navigation styling and effects follow

nav{
	height: 75px;
   
}

nav li{
    display: inline-block;
    text-decoration: none;
    margin-top:30px;
    margin-left:3%;
}

nav a {
	position: relative;
	display: inline-block;
	margin: 15px 15px;
	outline: none;
	color: #fff;
	text-decoration: none;
	//text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}

nav a:hover,
nav a:focus {
	outline: none;
}

//this is the css effects on the nav links

.link_type_0 a {
	padding: 10px 0;
	color: #999;
	text-shadow: none;
} 

.link_type_0 a::before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 10px 0;
	max-width: 0;
	border-bottom: 2px solid #fff;
	color: #fff;
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
}

.link_type_0 a:hover::before,
.link_type_0 a:focus::before {
	max-width: 100%;
}

//end of navigation

//start of main body section

//start of homepage styling

.homepage {

    background: url("../images/over3_web.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:1000px;
}

.welcome {
	margin-top: 25%;
	z-index: 10;
}

.welcome h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 5em;
    font-weight: bold;
    color:#ecf0f1;
    width:50%;
    word-spacing: 15px;
    letter-spacing: 10px;
}

.welcome h2 {
	margin-top:25px;
	font-size: 35px;
	color:#ecf0f1;
	font-family: 'Amatic SC', cursive;
	//letter-spacing: 1px;
}


//start of about me section

.about {

	background-size: cover;
	background-color: #F4F1ED;
    min-height:1250px;
}

.intro {
	
	margin-top:50px;
}

.intro h1,
.work h1 {
font-family: 'Amatic SC', cursive;
font-size: 5em;
font-weight: bold;
color:black;
word-spacing: 15px;
letter-spacing: 10px;
text-align: center;
padding:75px 0 10px 0;
}

.tense_boxes {
	
	margin-top: 100px;
}

.tense_boxes h3 {
	
	font-size:20px;
}

.box {
	
	text-align:center;
}

//this is the styling for css effects revolving headers on work page

.link_type_1 a {
	line-height: 40px;
	color:white;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}

.link_type_1 a span {
	position: relative;
	display: inline-block;
	padding: 0 14px;
	background: #ADBAAC;
	width:200px;
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.csstransforms3d .link_type_1 a span::before {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #C52C41;
	content: attr(data-hover);
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	transition: background 0.5s;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
}

.link_type_1 a:hover span,
.link_type_1 a:focus span {
	-webkit-transform: rotateX(90deg) translateY(-22px);
	-moz-transform: rotateX(90deg) translateY(-22px);
	transform: rotateX(90deg) translateY(-22px);
}

.csstransforms3d .link_type_1 a:hover span::before,
.csstransforms3d .link_type_1 a:focus span::before {
	background: #000;
	color:white;
	padding:0px 10px;	
}


.past,
.present,
.future,
.past_pics,
.present_pics,
.future_pics {

	margin-top:35px;
	display:none;
}

.mailme,
.mailme_deats {
	display:none;
}

.mailme_deats {
	margin-top:30px;
}

.biz_icons img {

	//border:solid 1px #ff0000;
	margin-left:2px;
	box-shadow: 10px 10px 5px #888888;

}

.present_pics h2, .techs h2, .past_pics h2, .future_pics h2, .mailme_deats h2  {

	color:#C52C41;
}

.present_pics h2, .past_pics h2, .future_pics h2 {
	margin:0;
	padding:0;
}

.techs h2 {

	font-size:20px;
	line-height:18px;
}

.techs h3, .mailme_deats h3 {

	color:#666;
}

.techs h2 span {

	color:#666;
}

.techs h4 {

	color: #666;
	//font-size:20px;
	font-weight:bold;
}

//static image of deb - fixed while page scrolls over it

.debpic {

    background: url("../images/debpic_web.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    height: 1000px;

}

h1 span {

	text-transform: uppercase;
	font-style: italic;
	text-decoration: underline;
}

//start of work section

.work {

    background-size: cover;
    height:100%;
    background-color: #D2DFDB;
    position:relative;


&:before {

    content:'';
    background: url("../images/backg.gif") no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  opacity:.075;


}

}

.website_tiles {

    margin-bottom:300px;
}

.grace h2,
.clark h2,
.jennifer h2,
.bond h2 {

text-align:center;
margin-top:150px;
font-size:22px;

}

.leo h2 {

text-align:center;
margin-top:150px;
font-size:22px;

}


.work__topic--left h3,
.work__topic--middle h3,
.work__topic--right h3{
	width:50%;
	background-color:#555;
	padding:10px 0 10px 5px;
	color:#ecf0f1;
	font-size: 16px;
}

.work__topic--left p,
.work__topic--middle p,
.work__topic--right p{
	margin-top:10px;
	background-color: white;//888;
	height:200px;
	padding-left:8px;
	font-size: 16px;
	border:solid 5px #888;
}

.web_row2 {
	padding-top:25px;
	margin-bottom: 100px;
}


//static image of chas - fixed while page scrolls over it

.chaspic {

	background: url("../images/chas2.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  min-height:1250px;
}

.chas_message h1 {
	
	margin-top:250px;
	text-align:center;
	font-family: 'Amatic SC', cursive;
	font-size:72px;
	color:#ecf0f1;//440000;
	letter-spacing:2px;

}

.row_family {
    
    margin-top:100px;

}

.family {

	background-color:#efedda;
	min-height:1200px;
	opacity:.8;
}

.fitness {
    
    background-color:#ADBAAC;
    min-height:1200px;
}


//the following is for the contact section

.contact_left,
.contact_right {
  
  margin-top:100px;   
}

.contact_left h3,
.contact_right h3 {
    width:50%;
    background-color:#555;
    padding:10px 0 10px 5px;
    color:#ecf0f1;
    font-size: 16px;
}

.contact_left p,
.contact_right p {
    margin-top:10px;
    background-color: white;//888;
    height:200px;
    padding-left:8px;
    font-size: 16px;
    border:solid 5px #888;
}

.boxes {
    
    width:100px;
    float:left;
    //border:solid 1px black;
    //margin-left:2px;
    height:100px;
    margin-bottom:25px;
}

#box1 {
    
    background-color: #cd489b;
}

#box2 {
    
    background-color: #65c8c5;
}

#box3 {
    
    background-color: #efedda;
}

#box4 {
    
    background-color: #8c7a7a;
}

#box5 {
    
    background-color: #a3d9d9;
}
//footer section

footer{
	padding-top: 100px;
	background-color: #323130;
	height:200px;
}


.footer__contact {
	color:#888;
	margin:0;
	padding:0;
	//opacity:.7;
}

.withlove {
font-family: 'Lato', sans-serif;
font-weight: normal;
font-size: 16px;
color: #ecf0f1;
letter-spacing:1px;
word-spacing:2px;
margin-bottom:0;

}

.withlove img {

    padding:0px 5px;
    margin-bottom:5px;
}

.cloud {

    //text-align:center;
    font-size:14px;
    margin:0;
    padding:0;
    word-spacing:2px;
    letter-spacing:1px;
    margin-left:8px;
}


.animated_heart {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -o-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


//this code is for opacity based background image styling so the background 
//fades but the foreground and content are unaffected

/*footer {

position:relative;
  height:1000px;
  //background-size: cover;
  //height:1000px;
 //background-color: #F4F1ED;

&:before {

	content:'';
	background: url("../images/Cityscape-Background.jpg") no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  opacity:.8;


}

}*/




//other code below - needs to be checked aaginst other pages for what makes it
//into final single page website


/*.row_video{
	margin-top:50px;
}


.row_contact__details .col-1-1 h2 {
	text-align: center;
}


label{
	width:20px;
	margin-right:10px;
}


.field {
    border: 1px solid #999;
    margin-top:5px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

.hello {

	color:white;
}

.contact__form--left {
	float:left;
}

.contact___first_name,
.contact__last-Name {
	float:left;
}

.contact__email_address,
.contact__phone {
	float:right;
}

.contact__first_name,
.contact__last_name,
.contact__email_address,
.contact__phone {
	height:24px;
	margin-left:10%;

}

.contact__email_me {
	float: right;
}


.contact__email{
	color:#2c3e50;
    background-color: #ecf0f1;
    padding:4px 10px;
    border-radius: 5px;
    border: solid 2px #2ecc71;
    margin-left:5px}*/

